@charset "UTF-8";

@import url("https://fonts.googleapis.com/css?family=Montserrat");

@-webkit-keyframes visibleAnimation {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@-moz-keyframes visibleAnimation {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@-ms-keyframes visibleAnimation {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@-o-keyframes visibleAnimation {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes visibleAnimation {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.loading {
    -moz-animation: visibleAnimation 1s ease-in;
    -webkit-animation: visibleAnimation 1s ease-in;
    -ms-animation: visibleAnimation 1s ease-in;
    animation: visibleAnimation 1s ease-in
}

html,
body {
    margin: 0;
    padding: 0;
}

html {
    font-family: sans-serif;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    color: #333333;
    font-size: 16px;
    font-family: PingFangSC-Regular, Microsoft JhengHei, Heiti, Arial, Helvetica, "sans-serif" !important;
    overflow-x: hidden;
    min-width: 320px;
    background: #ffffff;
}

@media only screen and (min-width: 1500px) {
    body {
        font-size: 18px;
    }
}

body.noscroll {
    overflow: hidden;
}

/* width */
::-webkit-scrollbar {
    width: 11px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #666;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #999;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #333;
}

*,
:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.decimal {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 30px;
    font-size: 90%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 1em;
    font-weight: bold;
    line-height: 1;
}

h1 {
    font-size: 1.5em;
    letter-spacing: 2px;
    margin: 1.5em 0;
}

h2 {
    font-size: 1.25em;
    margin: 1.5em 0;
}

section {
    margin-bottom: 5vh;
}

strong {
    font-weight: 700
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section,
summary {
    display: block
}

blockquote {
    margin: 1em 40px
}

mark {
    background: #ff0;
    color: #000
}

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word
}

q {
    quotes: none
}

q:after,
q:before {
    content: '';
    content: none
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

nav ol,
nav ul {
    list-style-image: none
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    border: 0;
    white-space: normal
}

a {
    background: 0 0;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}


textarea {
    overflow: auto;
    resize: vertical
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
    vertical-align: baseline
}

button,
input {
    line-height: normal
}

button,
select {
    text-transform: none
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled],
input[disabled] {
    cursor: default
}

input[type=checkbox],
input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

input[type=search] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

input[type=number]::-webkit-inner-spindice-button,
input[type=number]::-webkit-outer-spindice-button {
    height: auto
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input::placeholder,
textarea::placeholder {
  color: #ccc;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    background-color: transparent;
    table-layout: fixed !important
}

.nowrap {
    white-space: nowrap;
}

/* Customize the label (the container) */
.container {
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    margin-right: .5em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #fff;
    border: 0.5px solid #ccc;
    border-radius: 2px;
    box-shadow: inset 0 5px 5px -5px #333;
    box-shadow: inset -5px 0 5px -5px #333;
}

/* On mouse-over, add a grey background color */
.container:hover input~.checkmark {
    background-color: #fff;
}

/* When the checkbox is checked, add a blue background */
.container input:checked~.checkmark {
    background-color: #333;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* HIDDEN */

.visually-hidden {
    clip: rect(1px 1px 1px 1px) !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    height: 1px !important;
    overflow: hidden !important;
    position: absolute !important;
    white-space: nowrap !important;
    width: 1px !important;
}

.hidden {
    display: none !important;
}

@media only screen and (max-width: 500px) {
    .hidden-sm {
        display: none;
    }
}


/* ICONS */

[class*=icon],
[class^=icon] {
    display: inline-block;
    vertical-align: middle;
    background-size: 100%;
    background-repeat: no-repeat;
}

.icon-menu {
    width: 25px;
    height: 25px;
    background-image: url('../img/icons/menu.svg');
}

@media only screen and (min-width: 1024px) {
    .icon-menu {
        width: 30px;
        height: 30px;
    }
}

.icon-close {
    width: 25px;
    height: 25px;
    background-image: url('../img/icons/close.svg');
}

.icon-close.white {
    background-image: url('../img/icons/close-white.svg');
}

/* GOTOP */

#goTop {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    right: .5rem;
    bottom: .5rem;
    width: 36px;
    height: 36px;
    border-radius: .2rem;
    cursor: pointer;
    background: rgba(71, 71, 71, .5);
    z-index: 2;
}

/*
@media only screen and (min-width: 1025px) {
    #goTop {
        bottom: 4em;
    }
}
*/
#goTop i {
    display: block;
    width: 24px;
    height: 24px;
    background-image: url('../img/icons/gotop.svg');
    background-size: 100%;
    background-repeat: no-repeat;
}

/* HEADER & MENU */

.header {
    position: relative;
    z-index: 99;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}


@media only screen and (max-width: 768px) {
    .header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 99;
        /*background-color: rgba(255, 255, 255, .9);*/
        padding: 10px 0;
    }
}

@media only screen and (min-width: 1024px) {
    .header:not(.pinning) {
        margin-top: 1em;
    }
}

@media only screen and (min-width: 1500px) {
    .header:not(.pinning) {
        margin-top: 46px;
    }
}

.header.pinning {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    padding: 10px 0;
    background-color: rgba(255, 255, 255, .9);
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.header .logo {
    display: inline-block;
    vertical-align: middle;
}

@media only screen and (max-width: 1499px) {
    .header .logo {
        margin-top: 5px;
        margin-left: 1em;
    }
}

@media only screen and (min-width: 1500px) {
    .header .logo {
        margin-left: 2em;
    }
}

@media only screen and (min-width: 1600px) {
    .header .logo {
        margin-left: 4em;
    }
}

.header .logo img {
    height: 40px;
}

@media only screen and (min-width: 768px) {
    .header .logo img {
        height: 50px;
    }

    .header.pinning .logo img {
        height: 40px;
    }
}

@media only screen and (min-width: 1500px) {
    .header .logo img {
        height: 66px;
    }

    .header.pinning .logo img {
        height: 50px;
    }
}


.header .nav-right {
    display: inline-block;
    vertical-align: middle;
    float: right;
    height: 40px;
    border-radius: 20px;
    font-family: Montserrat;
}

@media only screen and (min-width: 768px) {
    .header .nav-right {
        height: 50px;
        border-radius: 25px;
    }
}

.header.pinning .nav-right {
    height: 40px;
    border-radius: 20px;
}

@media only screen and (max-width: 1499px) {
    .header .nav-right {
        margin-top: 5px;
        margin-right: 1em;
    }
}

@media only screen and (min-width: 1500px) {
    .header .nav-right {
        height: 56px;
        border-radius: 28px;
        margin-right: 2em;
    }

    .header.pinning .nav-right {
        height: 50px;
        border-radius: 25px;
    }

    .header.open .nav-right {
        background-color: rgba(0, 0, 0, .3);
    }
}


@media only screen and (min-width: 1600px) {
    .header .nav-right {
        margin-right: 4em;
    }
}

.header .nav-right .menu {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
}

.header .nav-right .menu li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 1em;
}


.header .nav-right .menu li a {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
}

@media only screen and (max-width: 1499px) {
    .header .nav-right .menu li a {
        font-size: 16px;
        letter-spacing: 1px;
    }
}

@media only screen and (min-width: 1500px) {
    .header .nav-right .menu li a {
        height: 56px;
        line-height: 56px;
    }

    .header.pinning .nav-right .menu li a {
        height: 50px;
        line-height: 50px;
    }
}


.header .nav-right .menu li a::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 0px;
    height: 3px;
    background-color: #b7a38e;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    transition-timing-function: linear;
}

.header .nav-right .menu li a.active::before,
.header .nav-right .menu li a:hover::before {
    width: 100%;
}



/* CONTENT */

.content {
    display: block;
    width: 100%;
    padding: 80px 1em 100px;
    background-color: #f1f1f1;
}

@media only screen and (max-width: 1023px) {
    .content {
        /*padding-top: 70px;*/
        min-height: calc(100vh - 170px);
    }
}

@media only screen and (min-width: 1500px) {
    .content {
        min-height: 990px;
    }
}

/* Wrapper */

.wrapper {
    position: relative;
    display: block;
    width: 100%;
}

@media only screen and (min-width: 1024px) {

    .wrapper,
    .narrow .wrapper {
        width: 950px;
        margin: 0 auto
    }
}

@media only screen and (min-width: 1200px) {
    .wrapper {
        width: 1150px;
    }
}

@media only screen and (min-width: 1500px) {
    .wrapper {
        width: 1450px;
    }
}

@media only screen and (min-width: 1600px) {
    .wrapper {
        width: 1550px;
    }
}

/* column */

.column {
    display: block;
}

@media only screen and (max-width: 1024px) {
    .column {
        padding: 0 1em;
    }
}

@media only screen and (min-width: 1024px) {
    .column {
        display: inline-block;
        vertical-align: top;
    }
}

.column.half {
    display: inline-block;
    vertical-align: top;
    width: 49%;
}


/* Footer */

.footer {
    display: block;
    vertical-align: middle;
    width: 100%;
    line-height: 40px;
    border-top: 1px solid #eeeeee;
    text-align: center;
    font-size: .5em;
}

@media only screen and (min-width: 1024px) {
    .footer {
        font-size: .8em;
        line-height: 50px;
    }
}

.home .footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    font-size: 12px;
}

@media only screen and (min-width: 1024px) {
    .home .footer {
        font-size: 14px;
    }
}

.footer p,
.footer ul,
.footer li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
}

.footer ul {
    margin-left: 1em;
}

@media only screen and (min-width: 1024px) {
    .footer ul {
        margin-left: 2em;
    }
}

.footer ul li:not(:last-child)::after {
    content: "|";
    display: inline-block;
    margin: 0 .5em;
}

.anchor {
    display: block;
    height: 100px;
    /*和顶部fix的高度一致*/
    margin-top: -100px;
    /*和顶部fix的高度一致*/
    visibility: hidden;
}

.anchor2 {
    display: block;
    height: 70px;
    /*和顶部fix的高度一致*/
    margin-top: -70px;
    /*和顶部fix的高度一致*/
    visibility: hidden;
}


/* Home & Animation BG */

iframe {
    border: 0;
    outline: 0;
}

.fullpage-video {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
}

/* DECORATION */

.float-right {
    float: right;
}

.rounded {
    border-radius: 50%;
}

.drop-shadow {
    -webkit-filter: drop-shadow(0px 0px 7px rgba(0, 0, 0, 0.3));
    filter: drop-shadow(0px 0px 7px rgba(0, 0, 0, 0.3))
}

.text-red,
.content .text-red a,
.content .text-red a:link,
.content .text-red a:hover,
.content .text-red a:focus,
.content .text-red a:active {
    color: red;
}

/* FLEXBOX */

.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

.flex.inline {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.flex.center {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.flex.middle {
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.flex.between {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.flex.start {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.flex.end {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.flex.row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.flex.row.reverse {
    -webkit-box-orient: reverse;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -moz-box-orient: reverse;
    -moz-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.column,
.flex.column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

@media only screen and (max-width: 1199px) {

    .column-sm,
    .flex.column-sm {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.flexwrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.flexnowrap {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.flex1 {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.flex0 {
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
}

.nowrap {
    white-space: nowrap;
}

.no-record {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    min-height: 100px;
    text-align: center;
    color: #999;
    font-size: 26px;
    font-weight: bold;
    background-color: #fafafa;
    padding: 1em;
    user-select: none;
}


/* login */

.row {
    width: 100%;
    float: left;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-t-16 {
    margin-top: 16px;
}

.line-h-40 {
    line-height: 40px;
}

.btn-border {
    display: inline-block;
    text-align: center;
    color: #fff !important;
    text-decoration: none !important;
    line-height: 40px;
    background-color: #999;
    padding: 0 5px;
    border: 1px solid #999;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: .25s;
    -moz-transition: .25s;
    -o-transition: .25s;
    transition: .25s;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    white-space: nowrap;
}

.btn-border.btn-small {
    min-width: auto !important;
    line-height: 20px;
}

.btn-border.active {
    background-color: #b7a38e;
    border-color: #b7a38e;
    color: #fff;
}

.loginwrap {
    padding: 1em;
    width: 100%;
    margin: 5em 0 0 0;
}

@media only screen and (min-width: 1200px) {
    .loginwrap {
        width: 480px;
        margin: 200px auto 0 auto;
    }
}

.loginwrap .title {
    font-size: 18px;
    line-height: 30px;
    padding: 20px 20px 0;
    text-align: center;
}

.loginwrap .cont {
    padding: 25px;
}

.login-area-tc {
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
}

.login-area-tc .row:after,
.login-area-tc .row:before {
    content: '';
    display: table;
}

.login-area-tc .row {
    clear: both;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

.login-area-tc .row:after,
.login-area-tc .row:before {
    content: '';
    display: table;
}

.text-box {
    display: inline-block;
    vertical-align: top;
    /*color: #dde3e7;*/
    position: relative;
}

.login-area-tc .row .text-box {
    width: 100%;
    border-radius: 5px;
}

@media only screen and (min-width: 1200px) {
    .login-area-tc .row .text-box {
        width: 308px;
    }
}

.text-box input,
.text-box textarea {
    float: left;
    border: 0;
    outline: 0;
    padding-left: 10px;
    padding-right: 10px;
    pointer-events: auto;
    font-size: 14px;
    font-family: Arial;
}

.text-box input {
    height: 38px;
    line-height: 38px;
}

.text-box input:-webkit-autofill,
.text-box textarea:-webkit-autofill {
    background-color: transparent;
}

.login-area-tc .row .text-box .text {
    width: 100%;
    border-radius: 5px;
}

.login-area-tc .checkbox-area {
    height: 30px;
    font-family: simsun;
    font-size: 12px;
    color: #777;
    text-align: left;
    margin-top: 16px;
    line-height: 19px;
}

.login-area-tc .row:after,
.login-area-tc .row:before {
    content: '';
    display: table;
}

.login-area-tc .checkbox-area .checkbox {
    text-indent: 10px;
    font-family: simsun;
    font-size: 12px;
    color: #777;
    float: left;
    position: relative;
}

.login-area-tc .checkbox-area .checkbox span.check {
    float: left;
    background: url(img/sprite-signup-92877201c1.png) -150px -29px;
    width: 19px;
    height: 19px;
}

.login-area-tc .button {
    -o-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font-size: 16px;
    letter-spacing: 8px;
    line-height: 38px;
    text-align: center;
    width: 100%;
}

@media only screen and (min-width: 1200px) {
    .login-area-tc .button {
        width: 308px;
    }
}

.line-split {
    margin-top: 16px;
    margin-bottom: 16px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.line-split * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -ms-flex: 0 1 auto;
}

.line-split .wrapper {
    overflow: hidden;
    text-align: center;
}

.line-split .wrapper .line-horizontal {
    position: relative;
    padding: 16px;
}

.line-split .wrapper .line-horizontal::before {
    content: '';
    position: absolute;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #999;
    top: 50%;
    right: 100%;
    width: 5000px;
    border-bottom-width: 1px;
    border-bottom-color: #999;
}

.line-split .wrapper .line-horizontal::after {
    content: '';
    position: absolute;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #999;
    top: 50%;
    left: 100%;
    width: 5000px;
    border-bottom-width: 1px;
    border-bottom-color: #999;
}

.line-split .txt {
    margin: 0px;
    word-wrap: break-word;
    font-size: 14px;
    line-height: 1.2857142857142858em;
}

/* FORM */

h2.formttl {
    margin: 0 0 1em;
}

ul.form {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 1em;
    background-color: #f6f6f6;
}

@media only screen and (min-width: 1200px) {
    ul.form {
        margin: 0 auto;
    }
}

ul.form.inline {
    display: inline-flex;
}

ul.form.horiental {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

ul.form.nopd {
    padding: 0;
    margin: 0;
}

@media only screen and (min-width: 1200px) {
    ul.form {
        padding: 40px;
        box-shadow: rgba(0, 0, 0, .07) 0 2px 5px 0;
    }

    ul.form.nopd {
        box-shadow: none !important;
    }

    ul.form.nopdbtm {
        padding: 40px 40px 16px 40px;
        box-shadow: none !important;
    }

    ul.form.nopdtop {
        padding: 0 40px 40px 40px;
        box-shadow: none !important;
    }
}


ul.form>li {
    display: flex;
    margin-bottom: 1em;
    width: 100%;
}

ul.form>li.nomgbtm,
ul.form>li:last-child {
    margin-bottom: 0
}

.tab-content>li {
    height: auto !important;
}

ul.form.horiental>li {
    display: inline-block;
    width: 45%;
    margin: 0 .5em 2em .5em;
}

@media only screen and (min-width: 1200px) {
    ul.form.horiental>li {
        width: 30%;
        margin: 0 .5em 2em .5em;
    }
}

ul.form>li.column {
    flex-direction: column
}

ul.form .btn-border {
    min-width: 100px;
}

@media only screen and (min-width: 996px) {
    ul.form .btn-border {
        min-width: 150px;
    }

    .collecttab ul.form .btn-border {
        min-width: unset;
    }
}

ul.form.horizontal {
    flex-direction: row;
}

.ctabwrap {
    width: 100%;
}

@media only screen and (min-width: 1200px) {
    .ctabwrap {
        width: 50%;
        margin: 0 auto;
    }
}

.ctabwrap ul.form {
    width: 100%;
}

.form-inline,
.form-group {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    white-space: nowrap;
}

.form-group.center {
    flex: 1;
    justify-content: center;
}

@media only screen and (max-width: 1199px) {
    .form-inline {
        /*flex-direction: column;*/
    }
}

.form-inline .label {
    white-space: nowrap;
    text-align: right;
    margin-right: 5px;
}

@media only screen and (min-width: 1200px) {
    .form-inline .label {
        min-width: 80px;
        margin-right: 1em
    }
}

.form-inline select,
.form-inline input,
.form-group select,
.form-group input {
    /*display: flex;
    align-items: center;
    flex: 1;*/
    width: 100%;
    border: 0;
    outline: 0;
    padding: 0 10px;
    border-radius: 5px;
    font-size: 100%;
    color: #656565;
    background-color: #fff;
}

.form-inline textarea,
.form-group textarea {
    /*display: flex;
    align-items: center;
    flex: 1;*/
    width: 100%;
    border: 0;
    outline: 0;
    padding: 10px;
    border-radius: 5px;
    font-size: 100%;
    color: #656565;
    background-color: #fff;
}

.form-inline label span,
.form-group label span {
    display: inline-flex;
    align-items: center;
    margin: 0 0 0 5px;
}

.form-inline input,
.form-group input,
.form-inline select,
.form-group select {
    height: 30px;
}

input[type=radio] {
    width: 25px;
    height: 25px;
}

input[type=checkbox] {
    width: 30px;
    height: 30px;
}

.inputwrap {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
}

@media only screen and (min-width: 996px) {
    ul.form .inputwrap .btn-border {
        min-width: unset;
    }
}

.inputwrap select,
.inputwrap input,
.inputwrap textarea {
    /*display: flex;
    align-items: center;
    flex: 1;*/
    width: 100%;
    border: 0;
    outline: 0;
    padding: 0 10px;
    border-radius: 5px;
    font-size: 100%;
    color: #333;
    background-color: #fff;
}

.inputwrap select {
    height: 36px;
    padding: 0 18px 0 10px;
}

.inputwrap select.spexial,
.inputwrap select.spexial option:checked {
    color: red;
}

.inputwrap select.spexial option:not(:checked) {
    color: #333;
}


.inputwrap textarea {
    padding: 10px;
    min-height: 36px;
}

.inputwrap input {
    height: 38px;
    line-height: 38px;
}

.errmsg,
.sysmsg {
    text-align: center;
    letter-spacing: 1px;
}

.input-tip {
    text-align: left;
    font-size: 80%;
    color: #999;
    margin-top: 5px;
    white-space: pre-wrap;
}

@media only screen and (min-width: 1200px) {
    .input-tip {
        margin-left: calc(85px + 1em);
    }
}

.uploadtip {
    text-align: center;
    font-size: 80%;
    color: #999;
}

.error-text {
    font-size: 90%;
    color: #947839;
    margin-top: 5px;
    margin-left: calc(60px + 1em);
}


ul.form.slider>li {
    border-bottom: 1px dotted #666;
}

ul.form.slider>li.nobdm {
    border-bottom: 0;
}

.inputwrap>div, .inputinline {
    width: 100%;
}

.inputinline {
    display: flex;
    flex-wrap: wrap;
}

.w-30 {
    width: 30%;
}

@media only screen and (min-width: 768px) {
    .w-30-pc {
        width: 30%;
    }
}


/* upload */

.box__input {
    visibility: hidden;
    position: absolute;
}

.uploadwrap,
.uploadwrap2 {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.uploadwrap2 {
    position: relative;
}

.uploadbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    color: #fff;
    background-color: rgba(0, 0, 0, .8);
    cursor: pointer;
}

.uploadbtn:hover {
    background-color: #947839;
}

#upload-preview,
#upload-preview2 {
    border: 1px solid #333;
}

.upload-preview {
    min-width: 300px;
    min-height: 150px;
}

.upload-preview2 {
    max-width: 100px;
    max-height: 200px;
}

.thumbpic {
    margin-left: 1em;
}

/* imgBox */

.imgBox {
    position: relative;
    display: block;
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-top: 63%;
}

.imgBox.portrait {
    padding-top: 137.7%;
}

.imgBox img {
    transition: all 0.6s;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

/* IOS SWITCH */

.switch-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

@media only screen and (min-width: 1025px) {
    .switch-wrap {
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        -moz-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }
}

.form-switch {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    font-size: 100%;
}

.form-switch i {
    position: relative;
    display: inline-block;
    margin-right: .5rem;
    width: 46px;
    height: 26px;
    background-color: #e6e6e6;
    border-radius: 23px;
    vertical-align: text-bottom;
    transition: all 0.3s linear;
}

.form-switch i::before {
    content: "";
    position: absolute;
    left: 0;
    width: 42px;
    height: 22px;
    background-color: #fff;
    border-radius: 11px;
    transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
    transition: all 0.25s linear;
}

.form-switch i::after {
    content: "";
    position: absolute;
    left: 0;
    width: 22px;
    height: 22px;
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
    transform: translate3d(2px, 2px, 0);
    transition: all 0.2s ease-in-out;
}

.form-switch:active i::after {
    width: 28px;
    transform: translate3d(2px, 2px, 0);
}

.form-switch:active input:checked+i::after {
    transform: translate3d(16px, 2px, 0);
}

.form-switch input {
    display: none;
}

.form-switch input:checked+i {
    background-color: #b7a38e;
}

.form-switch input:checked+i::before {
    transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0);
}

.form-switch input:checked+i::after {
    transform: translate3d(22px, 2px, 0);
}

/* Demo Table Collapse */


table {
    table-layout: fixed;
    border-collapse: collapse;
}

thead {
    background-color: #b7a38e;
    color: #fff;
    font-size: 80%;
}

table tr td,
table tr th {
    border-bottom: .5px dashed #b7a38e;
    padding: 5px;
}

table tr:last-child td,
table tr:last-child th {
    border-bottom: 0;
}

@media only screen and (max-width: 992px) {
    table.responsive-table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        display: block;
        position: relative;
        /* sort out borders */
    }

    table.responsive-table td:empty:before {
        content: "\00a0";
    }

    table.responsive-table th,
    table.responsive-table td {
        margin: 0;
        vertical-align: top;
    }

    table.responsive-table th {
        text-align: left;
    }

    table.responsive-table thead {
        display: block;
        float: left;
    }

    table.responsive-table thead tr {
        display: block;
        padding: 0 10px 0 0;
    }

    table.responsive-table thead tr th::before {
        content: "\00a0";
    }

    table.responsive-table tbody {
        display: block;
        width: auto;
        position: relative;
        overflow-x: auto;
        white-space: nowrap;
    }

    table.responsive-table tbody tr {
        display: inline-block;
        vertical-align: top;
    }

    table.responsive-table th {
        display: block;
        text-align: right;
    }

    table.responsive-table td {
        display: block;
        min-height: 1.25em;
        text-align: left;
    }

    table.responsive-table tr {
        border-bottom: none;
        padding: 0 10px;
    }

    table.responsive-table thead {
        border: 0;
        border-right: 1px solid #1d1e22;
    }
}

/* button */

.editable {
    display: inline-block;
    vertical-align: middle;
    line-height: 20px;
    white-space: nowrap;
}

.fakeinput {
    display: inline-block;
    vertical-align: middle;
    line-height: 20px;
    padding: 5px;
}

.fakeinput:focus {
    outline: 1px solid #ccc;
}

.btn-edit {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    line-height: 20px;
    background-color: #b7a38e;
    color: #fff;
    text-align: center;
    border-radius: 2px;
}

[class*="btn-"]>i,
[class^=btn-]>i {
    display: inline-block;
    vertical-align: middle;
    width: 14px;
    height: 14px;
    line-height: 20px;
    background-size: 100%;
    background-repeat: no-repeat;
}

.btn-edit>i {
    background-position: 2px -2px;
    background-image: url('../img/icons/edit.svg');
}

.content a,
.content a:link,
.content a:hover,
.content a:focus,
.content a:active {
    color: #b7a38e;
    text-decoration: underline
}

ul.function,
ul.function li {
    display: inline-block;
    white-space: nowrap;
}

ul.function li:not(:last-child)::after {
    content: "|";
    display: inline-block;
    margin: 0 2px 0 4px;
}

/**/

.m-l-1e {
    margin-left: 1em;
}

.m-r-1e {
    margin-right: 1em;
}

.m-t-10 {
    margin-top: 10px;
}

/**/

/* DIALOGUE */

@keyframes error-icon {
    0% {
        transform: translateX(0px);
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -o-transform: translateX(0px)
    }

    33% {
        transform: translateX(-5px);
        -webkit-transform: translateX(-5px);
        -moz-transform: translateX(-5px);
        -o-transform: translateX(-5px)
    }

    66% {
        transform: translateX(5px);
        -webkit-transform: translateX(5px);
        -moz-transform: translateX(5px);
        -o-transform: translateX(5px)
    }

    100% {
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -o-transform: translateY(0px)
    }
}

@-webkit-keyframes error-icon {
    0% {
        transform: translateX(0px);
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -o-transform: translateX(0px)
    }

    33% {
        transform: translateX(-5px);
        -webkit-transform: translateX(-5px);
        -moz-transform: translateX(-5px);
        -o-transform: translateX(-5px)
    }

    66% {
        transform: translateX(5px);
        -webkit-transform: translateX(5px);
        -moz-transform: translateX(5px);
        -o-transform: translateX(5px)
    }

    100% {
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -o-transform: translateY(0px)
    }
}

@-moz-keyframes error-icon {
    0% {
        transform: translateX(0px);
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -o-transform: translateX(0px)
    }

    33% {
        transform: translateX(-5px);
        -webkit-transform: translateX(-5px);
        -moz-transform: translateX(-5px);
        -o-transform: translateX(-5px)
    }

    66% {
        transform: translateX(5px);
        -webkit-transform: translateX(5px);
        -moz-transform: translateX(5px);
        -o-transform: translateX(5px)
    }

    100% {
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -o-transform: translateY(0px)
    }
}

@keyframes scale {
    0% {
        opacity: 0;
        transform: scale(0);
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -o-transform: scale(0)
    }

    80% {
        opacity: 1;
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1)
    }

    100% {
        opacity: 1;
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1)
    }
}

@-webkit-keyframes scale {
    0% {
        opacity: 0;
        transform: scale(0);
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -o-transform: scale(0)
    }

    80% {
        opacity: 1;
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1)
    }

    100% {
        opacity: 1;
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1)
    }
}

@-o-keyframes scale {
    0% {
        opacity: 0;
        transform: scale(0);
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -o-transform: scale(0)
    }

    80% {
        opacity: 1;
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1)
    }

    100% {
        opacity: 1;
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1)
    }
}

@-moz-keyframes scale {
    0% {
        opacity: 0;
        transform: scale(0);
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -o-transform: scale(0)
    }

    80% {
        opacity: 1;
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1)
    }

    100% {
        opacity: 1;
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1)
    }
}

@-webkit-keyframes pop-show {
    0% {
        opacity: 0;
        transform: translateY(-100px);
        -webkit-transform: translateY(-100px);
        -moz-transform: translateY(-100px);
        -o-transform: translateY(-100px)
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -o-transform: translateY(0px)
    }
}

@-moz-keyframes pop-show {
    0% {
        opacity: 0;
        transform: translateY(-100px);
        -webkit-transform: translateY(-100px);
        -moz-transform: translateY(-100px);
        -o-transform: translateY(-100px)
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -o-transform: translateY(0px)
    }
}

@-o-keyframes pop-show {
    0% {
        opacity: 0;
        transform: translateY(-100px);
        -webkit-transform: translateY(-100px);
        -moz-transform: translateY(-100px);
        -o-transform: translateY(-100px)
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -o-transform: translateY(0px)
    }
}

@keyframes pop-show {
    0% {
        opacity: 0;
        transform: translateY(-100px);
        -webkit-transform: translateY(-100px);
        -moz-transform: translateY(-100px);
        -o-transform: translateY(-100px)
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -o-transform: translateY(0px)
    }
}

@-webkit-keyframes pop-hide {
    0% {
        opacity: 1;
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -o-transform: translateY(0px)
    }

    100% {
        opacity: 0;
        transform: translateY(100px);
        -webkit-transform: translateY(100px);
        -moz-transform: translateY(100px);
        -o-transform: translateY(100px)
    }
}

@-moz-keyframes pop-hide {
    0% {
        opacity: 1;
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -o-transform: translateY(0px)
    }

    100% {
        opacity: 0;
        transform: translateY(100px);
        -webkit-transform: translateY(100px);
        -moz-transform: translateY(100px);
        -o-transform: translateY(100px)
    }
}

@-o-keyframes pop-hide {
    0% {
        opacity: 1;
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -o-transform: translateY(0px)
    }

    100% {
        opacity: 0;
        transform: translateY(100px);
        -webkit-transform: translateY(100px);
        -moz-transform: translateY(100px);
        -o-transform: translateY(100px)
    }
}

@keyframes pop-hide {
    0% {
        opacity: 1;
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -o-transform: translateY(0px)
    }

    100% {
        opacity: 0;
        transform: translateY(100px);
        -webkit-transform: translateY(100px);
        -moz-transform: translateY(100px);
        -o-transform: translateY(100px)
    }
}


.util-dialog {
    position: fixed;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    overflow: auto
}

.util-dialog .mask {
    position: absolute;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.3);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}

.util-dialog.isAndroid .mask {
    background: rgba(0, 0, 0, 0.65)
}
/*
.util-dialog p {
    margin-block-start: unset;
    margin-block-end: unset;
}
*/

.util-dialog-cda {
    transform: translateY(-100px);
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -o-transform: translateY(-100px);
    -webkit-transform-style: preserve-3d;
    background: #fff;
    z-index: 1;
    left: 5%;
    top: 50%;
    overflow: hidden;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.23);
    opacity: 0;
    filter: Alpha(opacity=0);
    position: relative;
    word-break: break-all
}

@media (max-height: 768px) {
    .util-dialog-cda {
        top: 20%;
        left: 20%;
        min-width: 60%;
    }
}

@media (min-width: 1025px) {
    .util-dialog-cda {
        left: 50%;
    }
}

.util-dialog-cda.fixed {
    position: absolute
}

@media (min-width: 1025px) {
    .util-dialog-cda.fixed {
        position: fixed
    }
}

.util-dialog-cda.absolute {
    position: absolute
}

.util-dialog-cda.pop.show,
.util-dialog-cda.alt.show {
    animation-name: pop-show;
    animation-duration: .5s;
    animation-timing-function: cubic-bezier(0.1, 1.07, 1, 1);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: .1s;
    -webkit-animation-name: pop-show;
    -webkit-animation-duration: .5s;
    -webkit-animation-timing-function: cubic-bezier(0.1, 1.07, 1, 1);
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-delay: .1s;
    -moz-animation-name: pop-show;
    -moz-animation-duration: .5s;
    -moz-animation-timing-function: cubic-bezier(0.1, 1.07, 1, 1);
    -moz-animation-iteration-count: 1;
    -moz-animation-fill-mode: forwards;
    -moz-animation-delay: .1s;
    -o-animation-name: pop-show;
    -o-animation-duration: .5s;
    -o-animation-timing-function: cubic-bezier(0.1, 1.07, 1, 1);
    -o-animation-iteration-count: 1;
    -o-animation-fill-mode: forwards;
    -o-animation-delay: .1s;
    filter: Alpha(opacity=100)
}

.util-dialog-cda.pop.hide,
.util-dialog-cda.alt.hide {
    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    animation-name: pop-hide;
    animation-duration: .5s;
    animation-timing-function: cubic-bezier(0.1, 1.07, 1, 1);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 0;
    -webkit-animation-name: pop-hide;
    -webkit-animation-duration: .5s;
    -webkit-animation-timing-function: cubic-bezier(0.1, 1.07, 1, 1);
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-delay: 0;
    -moz-animation-name: pop-hide;
    -moz-animation-duration: .5s;
    -moz-animation-timing-function: cubic-bezier(0.1, 1.07, 1, 1);
    -moz-animation-iteration-count: 1;
    -moz-animation-fill-mode: forwards;
    -moz-animation-delay: 0;
    -o-animation-name: pop-hide;
    -o-animation-duration: .5s;
    -o-animation-timing-function: cubic-bezier(0.1, 1.07, 1, 1);
    -o-animation-iteration-count: 1;
    -o-animation-fill-mode: forwards;
    -o-animation-delay: 0
}

.util-dialog-cda.alt {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding-top: 15px;
    min-width: 110px
}

.util-dialog-cda .icon-close {
    top: 5px;
    right: 5px;
    width: 18px;
    height: 18px;
}

.util-dialog-cda.alt .dialog-title {
    padding: 0 10px 10px;
    font-size: 18px;
    color: #333;
    display: block;
    text-align: center
}

.util-dialog-cda.alt .dialog-content {
    display: block;
    font-size: 15px;
    color: #999;
    padding: 0 20px 15px
}

.util-dialog-cda.alt .dialog-content.center {
    text-align: center
}

.util-dialog-cda.alt .dialog-content.left {
    text-align: left
}

.util-dialog-cda.alt .dialog-content.right {
    text-align: right
}

.util-dialog-cda.alt .dialog-buttons {
    float: left;
    width: 100%;
    min-width: 200px;
    overflow: hidden;
    color: #333;
    white-space: nowrap;
    font-size: 0
}

.util-dialog-cda.alt .dialog-buttons .dialog-button {
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    font-size: 16px;
    border-top: 1px solid #ddd;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    cursor: pointer
}

.util-dialog-cda.alt .dialog-buttons .dialog-button.bd-l {
    border-left: 1px solid #ddd
}

.util-dialog-cda.alt .dialog-buttons .dialog-button.primary {
    color: #de1e30
}

.util-dialog-cda.alt .dialog-buttons .dialog-button:hover {
    background-color: #eee
}

.util-dialog-cda .hd-tip {
    height: 30px;
    border-bottom: 1px solid #eee;
    text-align: left;
    margin: 5px 10px
}

.util-dialog-cda .hd-tip .title {
    display: inline-block;
    padding: 0 35px;
    color: #de1e30;
    font-size: 16px;
    line-height: 30px;
    border-bottom: #de1e30 solid 2px;
    letter-spacing: 4px;
    font-family: 'microsoft yahei'
}

.util-dialog-cda .icon-close {
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    font-size: 16px;
    color: #b3b3b3
}

.util-dialog-cda .icon-close:hover {
    transform: scale(1.1) rotate(30deg);
    -webkit-transform: scale(1.1) rotate(30deg);
    -moz-transform: scale(1.1) rotate(30deg);
    -o-transform: scale(1.1) rotate(30deg);
    color: #000
}

/* LOGIN & SIGNUP DIALOGUE */

.system-msg-panel {
    border-radius: 10px;
}

@media (min-width: 1025px) {
    .system-msg-panel {
        margin-left: -150px;
        margin-top: -205px;
    }
}

.system-msg-area {
    width: 100%;
}

@media (min-width: 1025px) {

    .system-msg-area {
        width: 300px;
    }
}

.system-msg-area h3 {
    /*padding: 60px 10px 20px;*/
    padding: 10px 0;
    margin: 0;
    border-bottom: 1px solid #ccc;
}


/* FLEXBOX */

.column {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

@media (max-width: 1023px) {
    .mobi-column {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.inline-column {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.lrwrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.lrwrap h2 {
    flex: 1;
    margin: unset;
}

@media (min-width: 1025px) {
    .lrwrap h2 {
        text-align: center;
    }
}

.lrwrap .column {
    height: 100%;
}

.inline-row {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.flex-wrap {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.flex-nowrap {
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.flex-start {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.flex-end {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.center {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.text-center {
    text-align: center;
}

.flex-top {
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: flex-start;
    align-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
}

.middle {
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.flex-bottom {
    -webkit-align-content: flex-end;
    -ms-flex-line-pack: flex-end;
    align-content: flex-end;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -moz-box-align: end;
    -ms-flex-align: flex-end;
    align-items: flex-end;
}

.between {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.flex0 {
    flex: 0;
}

.flex1 {
    flex: 1;
}

.flex2 {
    flex: 2;
}

.flex3 {
    flex: 3;
}

.btn {
    text-align: center;
    border: 0;
    outline: 0;
    line-height: 45px;
    padding: 0 10px;
    -webkit-filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.3));
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.3));
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.btn-medium {
    height: 50px;
    padding: unset;
}

.btn-large {
    width: 250px;
    height: 60px;
    padding: unset;
    margin: 0 auto;
}

.btn-dialog {
    width: 100%;
    color: #fff;
    background-color: #b7a38e;
    -webkit-border-radius: unset;
    -moz-border-radius: unset;
    border-radius: unset;
    -webkit-filter: none;
    filter: none;
    border-top: 1px solid #b7a38e;
}

.btn-dialog.left,
.btn-dialog.right {
    width: 50%;
}

.btn-dialog.left {
}

.btn-dialog.right {
    background-color: #de1030;
    border-left: .5px solid rgba(255, 255, 255, .1);
}

@media(min-width: 1025px) {

    .btn-dialog.left,
    .btn-dialog.right {
        width: 500px;
        max-width: 500px;
    }

}